body {
  background-color: black; 
}

div {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: antiquewhite;
}
p {
  font-size: 12px;
  margin-top: 3%;
}
.pg {
  margin-top: 14px;
}
